# ignore all images 
*.jpg
*.jpeg
*.png
*.JPG
*.PNG

# keep labels and the folder skeletons
!**/labels/
!**/labels/*.txt
!**/.gitkeep

# Local environment stuff
__pycache__/
.env
.venv/
env/
*.pyc
.DS_Store
.ipynb_checkpoints/